h1.moc {
	font-family: STZhongsong; 
	color: #FFA7AB; 
	letter-spacing: 0; 
	text-shadow: Opx 1px Opx #999 , 
				Opx 2px Opx #888 , 
				Opx 3px Opx #777 , 
				Opx 4px Opx #666 , 
				Opx 5px Opx #555 , 
				Opx 6px Opx #444 , 
				Opx 7px Opx #333 , 
				Opx 8px 7px #001135; 
	font-size: 50px; 
	text-align: center;
}